{{!-- partial for comment section --}}
<div class="comments">
  {{!-- use keyword 'this' to refer to the parent array --}}
  {{#each this}}
  <section class="comment">
    <div class="text">
      {{comment_text}}
    </div>
    <div class="meta">
      {{user.username}} on {{created_at}}
    </div>
  </section>
  {{/each}}
</div>