{{!-- partial for post information --}}
<article class="post">
  <div class="title">
      <h3>{{title}}</h3>
      <h5>Posted by {{user.username}} on {{created_at}}</h5>
      <a href="/post/{{id}}">View Post</a>
   </div>
</article>