{{!-- partial for post information --}}
<article class="post">
   <div>
      <h3>{{title}}</h3>
      <h6>Posted by {{user.username}} on {{created_at}}</h6>
      <h5>{{body}}</h5>
   </div>
</article>