<section>
    <h2>Create New Post</h2>

    {{!-- form for creating a post --}}
    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-body">Text</label>
            <textarea id="post-body" name="post-body"></textarea>
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

{{!-- user's existing posts (if any) --}}
{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <div class="post-previews">
        {{#each posts as |post|}}
        <article class="post">
            <div>
                <h3>{{title}}</h3>
                <h5>Posted by {{user.username}} on {{format_date created_at}}</h5>
                {{!-- takes user to single post --}}
                <a href="dashboard/edit/{{post.id}}">Edit Post</a>
            </div>
        </article>
        {{/each}}
    </div>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>