{{!-- login form --}}
<form class="login-form">
  <div class="mb-3">
    <label for="username-login" class="form-label">Username:</label>
    <input type="text" id="username-login" />
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div class="d-grid gap-2 col-1">
    <button type="submit" id="login-btn" class="btn btn-secondary">Login</button>
  </div>
</form>

{{!-- sign up form --}}
<form class="signup-form">
  <div class="mb-3">
    <label for="username-signup" class="form-label">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="mb-3">
    <label for="password-signup" class="form-label">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div class="d-grid gap-2 col-1">
    <button type="submit" id="signup-btn" class="btn btn-secondary">Signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>