{{!-- post partial --}}
{{> post post}}
{{!-- only display comment form if logged in --}}
{{#if loggedIn}}
<form>
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">Add comment</button>
    </div>
</form>
{{/if}}

{{!-- comments --}}
{{> comments post.comments}}

<script src="/javascript/comment.js"></script>