/* space header */
header {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    margin-bottom: 1%;
    padding: 0.25% 0;
}

/* space nav bar */
nav {
    margin: 0.5% 1.5% 0 0;
}

/* create space left of the elements */
h1,
h2, 
h3, 
h5, 
h6,
form, 
div.text,
div.meta,
a.post {
    margin-left: 1%;
}

/* make smaller headers a lighter color */
h5, h6 {
  color: rgb(100, 100, 100);  
}

/* put space between posts */
.post-preview {
    margin-top: 1%;
}

/* space and add color to comment section */
.comments {
    margin-top: 1%;
    background-color: whitesmoke;
}

/* put space between comments */
.comment {
    margin-top: 0.5%;
}

/* make comment text bold */
.text {
    font-weight: 600;
}

/* create space between buttons and forms */
#login-btn,
#signup-btn {
    margin-bottom: 12%;
}

/* style comment form box */
#create-comment {
    margin-top: 0.75%;
    width: 18%;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

/* style post text form box */
#post-body,
#edit-body {
    width: 25%;
    border-radius: 4px;
    font-size: 16px;
    resize: none;  
}

/* put space between create post form and your post section */
#your-posts {
    margin-top: 1%;
}

/* put space between create new post title and header */
#create-post {
    margin-bottom: 1%;
}

/* add background color to your posts section */
.your-posts {
    background-color: whitesmoke;
}

#edit-post {
    margin-bottom: 1%;
}
/* put footer at bottom center of the page */
footer {
    display: flex;
    justify-content: center;
    margin-top: 14.5%;
}

